.body-honda-background-color{
    background-color:  #E5E5E5;
}
.honda-header-backgruond-color{
    background: rgba(38, 70, 83, 1);

}
.btn-honda-bg-color{
    background: rgb(228, 83, 46);

}
.h1-honda-text-color{
   color: rgba(255, 255, 255, 1);

}
.h1-honda-text-color{
    color: rgba(224, 224, 224, 1);
    ;
}
.btn-honda-purchase-bg-color{
    background: rgba(231, 111, 81, 1);

}
.border-honda-btn{
    border: 1px solid #e76f51;
}
.span-honda-text-color{
    color: rgba(231, 111, 81, 1);
}


.honda-gray-scale{
    filter: grayscale(100%);
  }
  .honda-icon-color{
    color: rgba(231, 124, 64, 1);

  }
 
  .client-text-color{
    color: rgba(37, 43, 66, 1);

  

   
  }
  .client-p-color{
    color: rgba(35, 166, 240, 1);
}